<!DOCTYPE html>
<html lang="es">

<head th:replace="~{template :: head}"></head>

<body class="bg-secondary">
	<header th:replace="~{template :: header (${nomUser}, ${rol})}"></header>
	<div class="m-3">
		<div class="bg-dark">
			<h2 class="text-center text-white">
				PETICIONES IA PARA EL MODERADOR
			</h2>
		</div>
		<table class="table table-dark table-striped table-hover my-3">
			<thead>
				<tr>
					<th>ID PETICIÓN</th>
					<th>DESCRIPCIÓN</th>
					<th>ESTATUS</th>
					<th>RECETA</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="peticion : ${peticiones}">
					<td th:text="${peticion.idPeticionIA}"></td>
					<td th:text="${peticion.descripcion}"></td>
					<td th:text="${peticion.estatus == 'PEN' ? 'PENDIENTE' : peticion.estatus == 'ENT' ? 'ENTREGADO' : 'DENEGADO'}"></td>
					<td>
						<a th:href="@{/recetas/ver(idReceta=${peticion.paso.receta.idReceta})}" class="btn btn-info">
							<i class="bi bi-box-arrow-right"></i> VER RECETA
						</a>
					</td>
					<td>
						<a th:href="@{/moderador/peticiones/ver(idPeticionIA=${peticion.idPeticionIA})}" class="btn btn-primary">
							<i class="bi bi-eye-fill"></i> VER PET.
						</a>
						<a th:href="@{/moderador/peticiones/denegar(idPeticionIA=${peticion.idPeticionIA})}" class="btn btn-danger">
							<i class="bi bi-x-circle-fill"></i> DENEGAR
						</a>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{template :: footer}"></footer>
</body>

</html>