<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{template :: head}"></head>

<body class="bg-light">
	<header th:replace="~{template :: header (${nomUser}, ${rol})}"></header>
	<div class="container py-2">
		<div class="row align-items-center">
			<div class="col col-lg-4">
				<h2>BIENVENIDO</h2>
			</div>
			<h2 th:if="${recetas.isEmpty()}" class="mb-5" style="min-height: 25em;">
				SIN RECETAS REGISTRADAS
			</h2>
			<div class="col col-lg-2 d-flex justify-content-end m-2">
				<form th:action="@{/recetas}" method="get">
					<div th:if="${!recetas.isEmpty()}" class="dropdown z-3">
						<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownIngredientes" data-bs-toggle="dropdown"
							aria-expanded="false">
							Buscar por ingredientes
						</button>
						<ul class="dropdown-menu p-2 z-3" aria-labelledby="dropdownIngredientes">
							<li th:each="ing : ${ingredientes}">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" th:id="'ing_' + ${ing.nombre}" th:name="ingredientes"
										th:value="${ing.idIngrediente}"
										th:checked="${ingredientesSel != null and #lists.contains(ingredientesSel, ing.idIngrediente)}">
									<label class="form-check-label" th:for="'ing_' + ${ing.nombre}" th:text="${ing.nombre}"></label>
								</div>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<input class="form-check-input" type="checkbox" id="chkExclusivo" th:name="exclusivo"
									value="1" th:checked="${exclusivo == 1}">
								<label class="form-check-label" for="chkExclusivo">Buscar exclusivamente</label>
							</li>
							<li>
								<button type="submit" class="btn btn-primary mt-2">Filtrar</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div th:if="${textoOrden != null && !recetas.isEmpty()}" class="col d-flex justify-content-end m-2 z-1">
				<div class="dropdown">
					<button th:text=" 'Ordenar: ' + ${textoOrden}" class="btn btn-dark dropdown-toggle sticky-top" type="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Ordenar por
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" th:href="@{/recetas(ordenarPor='total')}">Visitas totales</a></li>
						<li><a class="dropdown-item" th:href="@{/recetas(ordenarPor='semana')}">Visitas semanales</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mb-4">
		<div class="row px-0 mx-0" th:object="${receta}">
			<div th:each="receta : ${recetas}" class="col">
				<div th:replace="~{template :: receta-card(${receta}, ${usuarioSesion})}">
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{template :: footer}"></footer>
</body>

</html>