<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{template :: head}"></head>

<body class="bg-light">
	<header th:replace="~{template :: header (${nomUser})}"></header>
	<div class="d-flex justify-content-end m-4">
		<div class="dropdown">
			<button th:text=" 'Ordenar por: ' + ${textoFiltro}" class="btn btn-dark dropdown-toggle sticky-top" type="button"
				data-bs-toggle="dropdown" aria-expanded="false">
				Ordenar por
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" th:href="@{/recetas(ordenarPor='total')}">Visitas totales</a></li>
				<li><a class="dropdown-item" th:href="@{/recetas(ordenarPor='semana')}">Visitas semanales</a></li>
			</ul>
		</div>
	</div>

	<div class="container-fluid my-4">
		<div class="row px-0 mx-0" th:object="${receta}">
			<div th:each="receta : ${recetas}" class="col">
				<a th:if="${porSemana == true}">
					<div
						th:replace="~{template :: receta-card(${receta.idReceta}, ${receta.nombre}, ${receta.visitasSemanales}, ${receta.usuario.nombre}, 'visitas semanales')}">
					</div>
				</a>
				<a th:if="${porTotal == true}">
					<div
						th:replace="~{template :: receta-card(${receta.idReceta}, ${receta.nombre}, ${receta.visitasTotales}, ${receta.usuario.nombre}, 'visitas totales')}">
					</div>
				</a>
			</div>
		</div>
	</div>

<footer th:replace="~{template :: footer}"></footer>
</body>

</html>