<!DOCTYPE html>
<html lang="es">

<head th:replace="~{template :: head}"></head>

<body class="bg-secondary">
	<header th:replace="~{template :: header (${nomUser})}"></header>

	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100 mb-5 ">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<td th:if="${reintento == true}">
					<div class="alert alert-danger" role="alert">
						Usuario y/o contraseña incorrectos!
					</div>
				</td>
				<td th:if="${logout == true}">
					<div class="alert alert-success" role="alert">
						Sesion cerrada correctamente!
					</div>
				</td>
				<form th:action="@{/login}" method="post" th:object="${usuario}">
					<div class="card bg-dark text-white" style="border-radius: 1rem;">
						<div class="card-body px-5 text-center">
							<div class="mb-0 mt-md-1 pb-0">
								<h2 class="fw-bold mb-2 text-uppercase">Iniciar sesión</h2>
								<div class="mb-3">
									<label for="email" class="form-label">Dirección de correo</label>
									<input th:field="*{email}" type="email" name="email" class="form-control" placeholder="Correo electronico">
								</div>
								<div class="mb-3">
									<label for="contrasenia" class="form-label">Contraseña</label>
									<input th:field="*{contrasenia}" type="password" name="contrasenia" class="form-control" placeholder="Contraseña">
								</div>
								<button type="submit" class="btn btn-primary">Iniciar sesión</button>
							</div>
							<div>
								<p class="mb-0 my-3">¿Aún no tienes cuenta? <a href="/registro" class="text-white-100 fw-bold">Registrarse</a></p>
								<p class="mb-0 my-3">Ingresar sin iniciar sesion: <a th:href="@{/recetas}" class="text-white-50 fw-bold">Ver recetas</a></p>
							</div>
							<div>
								<button class="btn btn-rpimary">
									Ingresar sin iniciar sesion
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{template :: footer}"></footer>
</body>

</html>