<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>S.A.B.O.R.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <nav class="nav bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand">S.A.B.O.R.</a>
            <a class="nav-link active" aria-current="page" th:href="@{/recetas}">Vista de recetas</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Recetas disponibles</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/recetas/nuevo}" class="btn btn-lg btn-success">Añadir receta</a>
            </div>
        </div>
        <br>
        <table class="table table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID_RECETA</th>
                    <th>NOMBRE</th>
                    <th>PROCEDIMIENTO</th>
                    <th>INGREDIENTES</th>
                    <th>CHEF</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="receta : ${recetas}">
                    <td th:text="${receta.idReceta}">Id_Receta</td>
                    <td th:text="${receta.nombre}">Nombre</td>
                    <td th:text="${receta.procedimiento}">Procedimiento</td>
                    <td th:text="${receta.ingredientes}">Ingredientes</td>
                    <td th:text="${receta.usuario.nombre}">Nombre usuario</td>
                    <td>
                        <a th:href="@{/recetas/editar/{idReceta}(idReceta=${receta.idReceta})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/recetas/{idReceta}(idReceta=${receta.idReceta})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>