<!DOCTYPE html>
<html>

<head th:replace="~{template :: head}"></head>

<body class="bg-secondary">
    <header th:replace="~{template :: header (nomUser=null)}"></header>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form th:action="@{/registro}" th:object="${usuario}" method="post">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-1 mt-md-1 pb-2">
                                <h2 class="fw-bold mb-2 text-uppercase">Registro</h2>
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input th:field="*{nombre}"class="form-control" id="name" placeholder="Nombre de usuario" >
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Direccion de correo</label>
                                    <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Correo electronico" >
                                </div>
                                <div class="mb-3">
                                    <label for="contrasenia" class="form-label">Contraseña</label>
                                    <input th:field="*{contrasenia}" type="password" class="form-control" id="contrasenia" placeholder="Contraseña">
                                </div>
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>